<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Weight</title>
</head>
<body>
    {% extends 'layout/app-layout.html' %}
    {% block 'content' %}
    <div class="wt4">
    <h2>Add Weight</h2>

    {% for message in messages %}
    <p style="color:red;">{{ message }}</p>
    {% endfor %}
    
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
        <button type="submit">Save</button>
    </form>

<p><a href="/weights/">View My Weights</a></p>
<p><a href="/logout/">Logout</a></p>
    </div>
{% endblock %}


</body>
</html>
