<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weight Difference</title>
</head>
<body>
    {% extends 'layout/app-layout.html' %}
    {% block 'content' %}
<div class="wt6">
<h2>Weight Difference</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Check</button>
</form>
{% if result %}
    <h3>Weight difference: {{ result }} kg</h3>
{% endif %}
<br>
<a href="/weights/">Back to list</a>
{% endblock %}
</div>
</body>
</html>
